[loggers]
keys=root,file

[handlers]
keys=console,file

[formatters]
keys=simple,verbose


# LOGGERS #

[logger_root]
level=DEBUG
handlers=console,file

[logger_file]
level=DEBUG
handlers=file
propagate=0
qualname=file


# HANDLERS #

[handler_console]
class=StreamHandler
level=DEBUG
formatter=simple
args=(sys.stdout,)

[handler_file]
class=FileHandler
level=DEBUG
##### CHANGE TO VERBOSE TO PRINT TIME, FILE, LINE DETAILS IN LOG FILE #####
formatter=simple
args=('%(logfilename)s','w','utf-8')


# FORMATTERS #

[formatter_simple]
format=%(message)s

[formatter_verbose]
format=['%(asctime)s, %(filename)s:%(lineno)d] %(levelname)s: %(message)s
datefmt=%y-%m-%d %H:%M
