[loggers]
keys=root,app

[handlers]
keys=console,file

[formatters]
keys=console,file

[logger_root]
level=DEBUG
handlers=console,file

[logger_app]
level=DEBUG
handlers=file
propagate=0
qualname=app

[handler_console]
class=StreamHandler
level=DEBUG
formatter=console
args=(sys.stdout,)

[handler_file]
class=FileHandler
level=DEBUG
formatter=file
args=('%(logfilename)s','w')

[formatter_console]
format=%(message)s

[formatter_file]
format=['%(asctime)s, %(filename)s:%(lineno)d] !%(levelname)s!: %(message)s
datefmt=%y-%m-%d %H:%M
